
<svg width="166" height="NaN" xmlns="http://www.w3.org/2000/svg">

    <g>
     <title>Layer 1</title>
     <text stroke="#000" style="vector-effect: non-scaling-stroke;" transform="translate(81,-1) scale(1.9389287233352661,3.209479331970215) translate(-12.5,-9.859375) translate(12.5,9.625) scale(2.462981939315796,1) translate(-12.5,-9.625) " xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="24" id="svg_2" y="44.5" x="145.5" opacity="undefined" stroke-width="0" fill="#000000">Tiếp</text>
     <text style="cursor: move;" stroke-width="0" font-style="normal" font-weight="bold" stroke="#ff0000" transform="matrix(3.3642009539311677,0,0,3.101169999461467,-481.3442326603579,-59.54001161259372) " xml:space="preserve" text-anchor="start" font-family="sans-serif" font-size="24" id="svg_3" y="44.5" x="145.5" opacity="undefined" fill="#ff0000">tiếp</text>
    </g>
   </svg>